@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&family=Quicksand:wght@300..700&display=swap');
/*
Titles: Pridi
.pridi-extralight {
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;
}

.pridi-light {
  font-family: "Pridi", serif;
  font-weight: 300;
  font-style: normal;
}

.pridi-regular {
  font-family: "Pridi", serif;
  font-weight: 400;
  font-style: normal;
}

.pridi-medium {
  font-family: "Pridi", serif;
  font-weight: 500;
  font-style: normal;
}

.pridi-semibold {
  font-family: "Pridi", serif;
  font-weight: 600;
  font-style: normal;
}

.pridi-bold {
  font-family: "Pridi", serif;
  font-weight: 700;
  font-style: normal;
}

Body: Quicksand
<identifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700

.quicksand-<identifier> {
  font-family: "Quicksand", sans-serif;
  font-weight: <weight>;
  font-style: normal;
}

Colors:
#BA2E31 - dark pink
#DF9685 - light pink
#857A3A - green
#F3801D - orange

Ps.: Logo -> Railey (not in CSS)
*/

@media (max-width: 768px) {}


/* BODY, SECTION, DIV  ----- */
body,
html {
    height: 100%;
    margin: 0;
}

h1,
h2,
p {
    font-size: 1rem;
}

h1 {
    font-family: "Pridi", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .95rem;
}


/* COVER ------------ */
.cover {
    background-image: url("../images/cover-bg.png");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 3rem;
}

.cover-img {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cover h1,
.cover p {
    margin: 0;
}

.cover h1 {
    font-size: 3rem;
    padding: 15% 10% 0 10%;
}

.cover p {
    line-height: 1rem;
    padding: 3% 25%;
}

.cover-txt button {
    background-color: rgba(255, 255, 255, 0.001);
    border: solid white 2px;
    color: white;
    padding: 0.7rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
}

.cover-txt button:hover {
    background-color: white;
    color: #f2b9c8;
}


/* ABOUT ------------ */
.about {
    color: #BA2E31;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-txt {
    width: 40%;
    padding: 0 0 0 14%;
    box-sizing: border-box;
}

.about-img {
    width: 60%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10%;
}

.about-img img {
    max-width: 100%;
    height: auto;
}


/* FEATURES ------------ */
.features {
    background-color: #F3801D;
    display: flex;
    flex-direction: column;
}

.features h1,
.features h2,
.signup h1,
.features p,
.signup p {
    color: white;
}

.features h1 {
    margin: 7%;
}

.features-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.features-description {
    width: 20%;
    margin-bottom: 7%;
    text-align: center;
    box-sizing: border-box;
}

.features-description img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* TEAM ------------ */
.team {
    padding-bottom: 5%;
}

.firstLine,
.secondLine {
    display: flex;
    justify-content: space-between;
}

.firstLine {
    padding-left: 4%;
}

.secondLine {
    padding: 2% 0 0 15%;
}

.team-description {
    flex: 1 1 20%;
    margin: 3%;
    box-sizing: border-box;
    display: flex;
}

.team-description img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.team h1 {
    color: #F3801D;
    margin: 7% 7% 5% 7%;
}

.team p {
    color: #BA2E31;
    padding-left: 2%;
}

.team-name {
    font-weight: 600;
}


/* SIGN UP ------------ */
.signup {
    background-color: #857A3A;
    display: flex;
    flex-direction: column;
}

.signup img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.signup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.signup-txt {
    flex: 1;
    margin: 0 0 10% 10%;
}

.div-form {
    flex: 1;
    max-width: 700px;
    margin: 7% 17% 7% 7%;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.form-row label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .95rem;
}

.form-row input,
.form-row button {
    flex: 2;
    padding: 8px;
    box-sizing: border-box;
    color: grey;
}

.form-row button {
    background-color: rgba(255, 255, 255, 0.001);
    border: solid white 1px;
    color: white;
    padding: 0.5rem .3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .95rem;
    text-transform: capitalize;
    max-width: 100px;
    width: auto;
}

.form-row button:hover {
    background-color: white;
    color: #857A3A;
}


/* FOOTER ------------ */
footer {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 1%;
}

footer>p,
a {
    color: #F3801D;
    text-decoration: none;
}

footer>a:visited {
    color: #F3801D;
}

.logo-footer {
    width: 100%;
    height: auto;
    text-align: right;
    position: absolute;
    top: 15%;
    right: 10%;
    padding-bottom: .5%;
}